# Load any higher up ones (esp. /home/vagrant)
source_up

# The Docker repository name used for images
export FISSILE_REPOSITORY=fissile

# This is a comma separated list of paths to the local repositories
# of all the releases
FISSILE_RELEASE=""
path_add FISSILE_RELEASE src/cf-release
path_add FISSILE_RELEASE src/diego-release
path_add FISSILE_RELEASE src/garden-linux-release
path_add FISSILE_RELEASE src/cflinuxfs2-rootfs-release
path_add FISSILE_RELEASE src/routing-release

export FISSILE_RELEASE="${FISSILE_RELEASE//:/,}"

# Path to a role manifest
export FISSILE_ROLE_MANIFEST="$(expand_path role-manifest.yml)"

# Path to a BOSH deployment manifest that contains light opinions
export FISSILE_LIGHT_OPINIONS="$(expand_path opinions.yml)"

# Path to a BOSH deployment manifest that contains dark opinions
export FISSILE_DARK_OPINIONS="$(expand_path dark-opinions.yml)"

# Path to a location where all fissile output is stored
# This will be ~/.fissile in vagrant
export FISSILE_WORK_DIR="${FISSILE_WORK_DIR:-$(expand_path output/fissile)}"

# This is the location of the local BOSH cache
# You shouldn't need to override this
# This will be ~/.bosh/cache in vagrant
export FISSILE_CACHE_DIR="${FISSILE_CACHE_DIR:-${HOME}/.bosh/cache}"

# Path to fissile binary (not actually used by fissile)
export FISSILE_BINARY="$(expand_path output/bin/fissile)"
mkdir -p "$(dirname "${FISSILE_BINARY}")"
PATH_add "$(dirname "${FISSILE_BINARY}")"

# Path to a configgin release tarball
export FISSILE_CONFIGGIN="$(expand_path output/tools/configgin.tgz)"
mkdir -p "$(dirname "${FISSILE_CONFIGGIN}")"

# This is the configuration base prefix
export FISSILE_CONFIG_PREFIX=cfsolo
