[submodule "src/cf-release"]
	path = src/cf-release
	url = https://github.com/cloudfoundry/cf-release.git
[submodule "src/garden-linux-release"]
	path = src/garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release.git
[submodule "src/diego-release"]
	path = src/diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release.git
[submodule "src/cflinuxfs2-rootfs-release"]
	path = src/cflinuxfs2-rootfs-release
	url = https://github.com/cloudfoundry/cflinuxfs2-rootfs-release.git
[submodule "src/routing-release"]
	path = src/routing-release
	url = https://github.com/hpcloud/routing-release.git
[submodule "src/loggregator"]
	path = src/loggregator
	url = https://github.com/cloudfoundry/loggregator.git
